.port__Section--Header {
    margin-bottom: 6rem;
}
.port__Section--Header >h2 {
    color: #131313;
    font-size: 8rem;
    text-align: center;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #5A5A5A;
    font-weight: normal;
}

@media screen and (max-width:1200px){
    .port__Section--Header >h2 {
        font-size: 6rem;
    }
}

@media screen and (max-width:768px){
    .port__Section--Header > h2 {
        font-size: 4rem;
    }
}